## Words

In [24]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [25]:
# your code here
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [26]:
# your code here
new_list = []
for word in words:
  if len(word) >= 5:
    new_list.append(word)
print(new_list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [27]:
# your code here
for word in words:
  if word[0] == 't':
    print(word)
    break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [28]:
# your code here
numbers = [i**2 for i in range (1,11)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [29]:
# your code here
not_even = [i**2 for i in range (1,11) if i%2 != 0]
not_even

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [30]:
# your code here
multiples = [i**2 for i in range (1,101) if i%8 == 0]
multiples

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216]

## People

In [31]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "LucÃ­a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [32]:
# your code here
print (len(people))

5

**How many people have kids**?

In [33]:
# your code here
count = 0

for ppl in people:
  if ppl["n_kids"]>0:
    count +=1

count

4

**How many kids do they have in total?**

In [34]:
# your code here
kids_count = 0

for ppl in people:
    kids_count += ppl['n_kids']

kids_count

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [35]:
# your code here
ppl_in_a_year = []

for ppl in people:
  if ppl['name'][-1]=='a':
    ppl['n_kids']= ppl.get('n_kids')+1
    ppl_in_a_year.append(ppl)

print(ppl_in_a_year)

[{'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'LucÃ­a', 'age': 22, 'n_kids': 3}]